################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Index.html
/.vs/Combustible/FileContentIndex
/.vs/Combustible/CopilotIndices/17.14.1641.39856
